@model IEnumerable<GeneralStoreMVC.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("Add Customer", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            First Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.ActionLink("Change", "Edit", new { id = item.CustomerID }) |
                @Html.ActionLink("More Info", "Details", new { id = item.CustomerID }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.CustomerID })
            </td>
        </tr>
    }
</table>